@charset "utf-8";
/* CSS Document */

body {
	background-color: #6BB835;
}
.principal {
	background-color: #fff;
}
#menu li a {
	background-color: #6BB835;
	color: #456832;
	font-weight: bold;
	border: 1px solid #fff
}
#menu li.active a {
	background-color: #fff;
	color: #6BB835;
	border: 1px solid #6BB835
}
#menu li a:hover {
	background-color: #fff;
	color: #6BB835;
	border: 1px solid #89B966;
}

.dropdown-menu {
  background-color: transparent;
  border:0;
  border-radius: 0;
  position:static;
  width:100%;
  box-shadow:none;
}
#menu li .dropdown-menu a {
	background-color:#CFDCC9}
.fotos {
	margin-top: 20px;
}

article{
	margin-bottom:20px;
	padding-right:10px;
	}
.img-thumbnail {
	border: 1px solid #6BB835;
}
.table-bordered {
	border: 1px solid #6BB835;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
	border: 1px solid #6BB835;
}

th{
	color: #6BB835;
	}
footer {
	background-color: #6BB835;
	height: 60px;
	padding:10px;
	color:#fff;
}
footer a, footer a:link{
	color:#fff;
}
